<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CR.AggregateRepository.Core" version="1.0.1.0" targetFramework="net452" />
  <package id="CR.AggregateRepository.Persistance.Memory" version="1.0.1.0" targetFramework="net452" />
  <package id="CR.MessageDispatch.Core" version="1.0.8.30270" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.2.0" targetFramework="net452" />
  <package id="ReflectionMagic" version="2.1.0" targetFramework="net452" />
</packages>