<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="hostUrls" value="http://localhost:12345" />
    <add key="logFile" value=".\widgetApi.log" />
    <add key="errorLogFile" value=".\widgetApi.err.log" />
    <add key="logPort" value="1940" />
    <add key="logHost" value="logs" />
    <add key="snapshotPath" value="snapshots"/>
    <add key="snapshotVersion" value="v1"/>
    <add key="streamName" value="non-system"/>
  </appSettings>
  <connectionStrings>
    <add name="EventStoreConnection" connectionString="tcp://admin:changeit@127.0.0.1:1113" />
    <!-- web test -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>